<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AppGgwp</display-name>
  <welcome-file-list>
    <welcome-file>principal.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>liderController</display-name>
    <servlet-name>liderController</servlet-name>
    <servlet-class>controller.liderController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>liderController</servlet-name>
    <url-pattern>/liderController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>integranteController</display-name>
    <servlet-name>integranteController</servlet-name>
    <servlet-class>controller.integranteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>integranteController</servlet-name>
    <url-pattern>/integranteController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InvocadorController</display-name>
    <servlet-name>InvocadorController</servlet-name>
    <servlet-class>controller.InvocadorController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InvocadorController</servlet-name>
    <url-pattern>/InvocadorController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuscaController</display-name>
    <servlet-name>BuscaController</servlet-name>
    <servlet-class>controller.BuscaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscaController</servlet-name>
    <url-pattern>/BuscaController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EquipeController</display-name>
    <servlet-name>EquipeController</servlet-name>
    <servlet-class>controller.EquipeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EquipeController</servlet-name>
    <url-pattern>/EquipeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AppController</display-name>
    <servlet-name>AppController</servlet-name>
    <servlet-class>controller.AppController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AppController</servlet-name>
    <url-pattern>/AppController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IntegranteController</display-name>
    <servlet-name>IntegranteController</servlet-name>
    <servlet-class>controller.IntegranteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IntegranteController</servlet-name>
    <url-pattern>/IntegranteController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LiderController</display-name>
    <servlet-name>LiderController</servlet-name>
    <servlet-class>controller.LiderController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LiderController</servlet-name>
    <url-pattern>/LiderController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UsuarioController</display-name>
    <servlet-name>UsuarioController</servlet-name>
    <servlet-class>controller.UsuarioController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsuarioController</servlet-name>
    <url-pattern>/UsuarioController</url-pattern>
  </servlet-mapping>
</web-app>